# mqtt-gateway.service
[Unit]
Description=MQTT gateway service
After=network.target

[Service]
Restart=always
RestartSec=15
StartLimitInterval=60
StartLimitBurst=3
ExecStart=/usr/bin/python3 /home/smart_home/mqtt_gateway.py

[Install]
WantedBy=default.target
