# mqtt-gateway.service
[Unit]
Description=MQTT gateway service
After=mosquitto.service network.target

[Service]
Restart=always
RestartSec=15
StartLimitInterval=60
StartLimitBurst=3
ExecStart=/home/subscriber/mqtt_gateway.py

[Install]
WantedBy=default.target
