<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head" ></head>
<body>
<div class="container-fluid">
    <div th:replace="fragments :: header" ></div>
    <h1 th:text="#{msg.registration.text}"></h1>
    <div th:if="${param.error}" class="validation-error" th:text="#{msg.registration.error}"></div>
    <form method="POST" th:action="@{/register}">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="username" th:text="#{msg.username}+':'" ></label>
                <input type="text" name="username" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="password" th:text="#{msg.password}+':'" ></label>
                <input type="password" name="password" class="form-control"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <input type="submit" th:value="#{msg.registration.button}" class="form-control btn btn-primary" />
            </div>
        </div>
    </form>
</div>
</body>
</html>